/* GLOBAL STYLES

-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 40px;
  color: #5a5a5a;


}


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
  background: rgba( 0,0,0,.7);
}
.navbar-wrapper .navbar .container {
  width: auto;
}

.navbar a {
  font-size: 15px;
}


/*Jumbotron container*/
/*-------------------------------------------------- */
.jumbotron{
  background: url("images/IMG_5733.jpg") top center no-repeat fixed;
  background-size: cover;
  height: 500px;
  margin-bottom: 60px;
}

.jumbotron h1 {
  z-index: 10;
}

.homeHeaderImg > #me {
  margin: 0;
  padding: 0;
  position: absolute;
  left: 50%;
  margin-left: -65px;      
  opacity: 1;
  top: 110px;
  animation-name: moveHeaderText;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  animation-timing-function: ease;

}

@keyframes moveHeaderImage {
  0% {
    left: -350px;
    opacity: 0;     
  }
  10% {
    left: -350px;
    opacity: 0;     
  }
  100% {
    left: 50%;
    margin-left: -65px;      
    opacity: 1;
  }
}

.homeHeaderImg > h1 {
  margin: 0;
  padding: 0;
  position: absolute;
  color: #f2f2f2;
  left: 50%;
  margin-left: -155px;      
  opacity: 1;
  top: 300px;
  /*font-family: 'Titillium Web', sans-serif;*/
  animation-name: moveHeaderText;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
@keyframes moveHeaderText {
  0% {
    left: -350px;
    opacity: 0;     
  }
  10% {
    left: -350px;
    opacity: 0;     
  }
  100% {
    left: 45%;
    margin-left: -155px;      
    opacity: 1;
  }
}

.homeHeaderImg > h2 {
  margin: 0;
  padding: 0;
  position: absolute;
  color: #f2f2f2;
  left: 50%;
  margin: 10px;
  margin-left: -88px;     
  opacity: 1;
  top: 370px;
  /*font-family: 'Titillium Web', sans-serif;*/
  animation-name: moveHeaderText;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
@keyframes moveHeaderText {
  0% {
    left: -380px;
    opacity: 0;     
  }
  10% {
    left: -380px;
    opacity: 0;     
  }
  100% {
    left: 50%;
    margin-left: -88px;      
    opacity: 1;
  }
}



/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-6 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-6 p {
  margin-right: 10px;
  margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

#projects h1 {
  margin-top: 80px;
  margin-bottom: 60px;
  margin-left: 5px;
 

}

#projects p {
  font-size: 16px;
  font-weight: normal;
}

#about {
  background: url("images/IMG_5733.jpg") top center no-repeat fixed;
  background-size: cover;
  height: 100%;
  margin-bottom: 60px;
}

#about h1 {
  margin-top: 80px;
  margin-bottom: 60px;
  color: white;
  

}

#about p {
  font-size: 16px;
  font-style: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: white;
  font-weight: normal;
}

#contact h1 {
  margin-top: 80px;
  margin-bottom: 60px;

}

#contact li {
  font-size: 16px;

}

.linkContainer img {
  height: 40px;
  width: 40px;
  text-align: left;
  display: inline-block;
}

#ga p {
  font-size: 16px;
}

img.featurette-image.img-responsive.center-block {
  border-radius: 120px;
  width: 357px;
  height: 285px;
  margin-top: 10px;
  margin-bottom: 5px;
}



ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: 20px;
 
}

li {
  font-size:  16px;
  color: #5a5a5a;
  text-decoration: none;

}
#email {
  color: #5a5a5a;
  text-decoration: none;
}

#email:hover {
  text-decoration: none;
  color: #ccc;
}

a {
  color: #5a5a5a;
  font-size: 20px;  
}
#linkedin img:hover, img:focus {
  text-decoration: none;
  color: #ccc;
}

#linkedin img:hover {
  opacity: .5;
  filter:alpha(opacity=50);
  
}

#github img:hover, img:focus {
  text-decoration: none;
  color: #ccc;
}

#github img:hover {
  opacity: .5;
  filter:alpha(opacity=50);
  
}

footer p {
  color: #5a5a5a;
  font-size: 15px;
}

footer a {
  color: #5a5a5a;
  font-size: 15px;
  text-decoration: none;

}

footer a:hover {
  text-decoration: none;
  color: #ccc;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }


  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }
  
  .featurette-heading {
    font-size: 50px;
  }
  
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}
